<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/third-party/bulma@0.9.3/bulma.min.css"
    />
    <link href="/third-party/fontawesome6/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{ block "style-tags" . }}{{ end }}
    <script type="module" src="/js/navbar.js"></script>
    {{ block "script-tags" . }}{{ end }}
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="MyWebSite" />
	<link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    {{ block "custom-elements" . }}{{ end }}
    {{ template "snackbar-notifications.html" . }}

    {{ template "navbar" . }}


    <div class="content container">
      {{ template "content" . }}
    </div>

    <snackbar-notifications></snackbar-notifications>
  </body>
</html>
