BACKBLAZE_REGION='us-west-002' # Replace
LITESTREAM_ENDPOINT="s3.${BACKBLAZE_REGION}.backblazeb2.com" # Replace
LITESTREAM_ACCESS_KEY_ID=''
LITESTREAM_SECRET_ACCESS_KEY=''
LITESTREAM_BUCKET='my-bucket-name' # Replace
# PicoShare 
PS_SHARE_SHARED_SECRET='demigod' # change-the-password-to-secureone 
PS_SHARE_DOMAIN='example.domain.com' # add-your-domainname 
# Traefik                     
TRAEFIK_ACME_EMAIL='youremail@email.com' # Email-for-Let's-Encrypt(replace-with-your-email)
TRAEFIK_ACME_STORAGE_PATH='/acme.json' # Path-to-store-Let's-Encrypt-certificates
# Domain for the application
DOMAIN='example.yourdomain.com' # Replace-with-your-domain
