.direnv

# Compiled binaries
bin/
dist/

# Persistent data directory
data/

# Environment variables, which may contain secrets
.env*

# Unit test code coverage output
.coverage.*

node_modules/

# System files
.DS_Store

# Playwright output
/e2e/playwright-report/
/playwright/.cache/
e2e/results/
