version: 2.1
executors:
  base:
    docker:
      - image: cimg/base:stable
  go:
    docker:
      - image: cimg/go:1.26.0
jobs:
  check_whitespace:
    executor: base
    resource_class: small
    steps:
      - checkout
      - run:
          name: Check for trailing whitespace
          command: ./dev-scripts/check-trailing-whitespace
      - run:
          name: Check that all text files end in a trailing newline
          command: ./dev-scripts/check-trailing-newline
  check_bash:
    docker:
      - image: koalaman/shellcheck-alpine:v0.9.0
    steps:
      - run:
          name: Install dependencies needed to check out repo
          command: apk add bash git openssh-client grep
      - checkout
      - run:
          name: Run static analysis on bash scripts
          command: ./dev-scripts/check-bash
  lint_sql:
    docker:
      - image: sqlfluff/sqlfluff:3.1.1
        user: root
    steps:
      - checkout
      - run:
          name: Lint SQL files
          command: ./dev-scripts/lint-sql
  check_frontend:
    docker:
      - image: cimg/node:20.6.1
    steps:
      - checkout
      - run:
          name: Download npm packages
          command: npm install
      - run:
          name: Run frontend checks
          command: ./dev-scripts/build-frontend
  test_go:
    executor: go
    resource_class: medium
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - go-mod-v3-{{ checksum "go.sum" }}
      - run:
          name: Test go packages
          command: dev-scripts/run-go-tests --full
      - store_artifacts:
          path: .coverage.html
      - run:
          name: Verify golang formatting
          command: dev-scripts/check-go-formatting
      - save_cache:
          key: go-mod-v3-{{ checksum "go.sum" }}
          paths:
            - ~/go/pkg/mod
  build_backend:
    executor: go
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - go-mod-v3-{{ checksum "go.sum" }}
      - run:
          name: Compile production backend
          command: PS_VERSION="$(git describe --tags)" dev-scripts/build-backend
      - run:
          name: Compile dev backend
          command: PS_VERSION="$(git describe --tags)" dev-scripts/build-backend dev
      - save_cache:
          key: go-mod-v3-{{ checksum "go.sum" }}
          paths:
            - ~/go/pkg/mod
      - persist_to_workspace:
          root: ./
          paths:
            - ./bin/picoshare
            - ./bin/picoshare-dev
  e2e:
    docker:
      - image: mcr.microsoft.com/playwright:v1.57.0
    environment:
      NODE_ENV: development
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Install dependencies
          command: cd e2e && npm install
      - run:
          name: Run end-to-end tests
          command: ./dev-scripts/run-e2e-tests --skip-build
      - store_artifacts:
          path: ./playwright-report
  package_release:
    executor: base
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: Enable multiarch builds with QEMU
          command: ./dev-scripts/enable-multiarch-docker
      - run:
          name: Build binaries
          command: |
            set -eux
            if [[ "${CIRCLE_TAG-''}" =~ ^[0-9]+(\.[0-9]+){2}.*  || \
                  "${CIRCLE_BRANCH}" == 'master' ]]; then
              readonly BUILD_TARGETS='linux/arm/v7,linux/arm64,linux/amd64'
            else
              readonly BUILD_TARGETS='linux/amd64'
            fi
            docker buildx build \
              --build-arg "PS_VERSION=$(git describe --tags)" \
              --platform "${BUILD_TARGETS}" \
              --target=artifact \
              --output "type=local,dest=$(pwd)/bin/" \
              .
      - store_artifacts:
          path: bin
      - run:
          name: Install compress utility for gzip compression
          command: |
            sudo apt-get update
            sudo apt-get install --yes ncompress
      - run:
          name: Package binaries for distribution
          command: |
            set -eux
            VERSION=''
            if [[ "${CIRCLE_TAG-''}" =~ ^[0-9]+(\.[0-9]+){2}.* ]]; then
              VERSION="${CIRCLE_TAG}"
            elif [[ "${CIRCLE_BRANCH}" == 'master' ]]; then
              VERSION="${CIRCLE_SHA1}"
            fi
            readonly VERSION

            if [[ -n "${VERSION}" ]]; then
              ./dev-scripts/package-binaries "${VERSION}"
            else
              echo "Skipping packaging step"
              circleci-agent step halt
            fi
      - persist_to_workspace:
          root: ./
          paths:
            - ./dist
  publish_release:
    executor: base
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Install GitHub CLI
          command: |
            curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
            sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
            sudo apt update
            sudo apt install gh
      - run:
          name: Upload binaries to GitHub release
          command: |
            gh release upload "${CIRCLE_TAG}" ./dist/* \
              --repo "${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}"
  publish_docker_images:
    executor: base
    environment:
      BUILD_TARGETS: "linux/arm/v7,linux/arm64,linux/amd64"
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: Authenticate to Docker Hub
          command: |
            echo "${DOCKERHUB_ACCESS_TOKEN}" | \
              docker login --username "${DOCKERHUB_USERNAME}" --password-stdin
      - run:
          name: Enable multiarch builds with QEMU
          command: ./dev-scripts/enable-multiarch-docker
      - run:
          name: Publish docker images
          command: |
            docker buildx build \
              --push \
              --platform "${BUILD_TARGETS}" \
              --tag "mtlynch/picoshare:${CIRCLE_TAG}" \
              --tag mtlynch/picoshare:latest \
              --build-arg "PS_VERSION=$(git describe --tags)" \
              .
  deploy:
    executor: base
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install flyctl
          # The flyctl changes too much to use a specific version, so use the latest for the
          # time being.
          # https://github.com/superfly/flyctl/issues/394#issuecomment-815890166
          command: |
            curl -L https://fly.io/install.sh | \
              sh -s -- --non-interactive latest
      - run:
          name: Print flyctl version
          command: |
            "${HOME}/.fly/bin/flyctl" version
      - run:
          name: Deploy to fly.io
          command: |
            "${HOME}/.fly/bin/flyctl" deploy \
              --build-arg "PS_VERSION=$(git describe --tags)" \
              --access-token "${FLY_ACCESS_TOKEN}"
workflows:
  version: 2
  test_deploy:
    jobs:
      - check_whitespace:
          filters:
            tags:
              only: /.*/
      - check_bash:
          filters:
            tags:
              only: /.*/
      - lint_sql:
          filters:
            tags:
              only: /.*/
      - check_frontend:
          filters:
            tags:
              only: /.*/
      - test_go:
          filters:
            tags:
              only: /.*/
      - build_backend:
          filters:
            tags:
              only: /.*/
      - e2e:
          filters:
            tags:
              only: /.*/
          requires:
            - build_backend
      - package_release:
          filters:
            tags:
              only: /.*/
      - publish_release:
          requires:
            - check_whitespace
            - check_bash
            - check_frontend
            - test_go
            - build_backend
            - package_release
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+){2}/
            branches:
              ignore: /.*/
      - publish_docker_images:
          requires:
            - package_release
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+){2}/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - check_whitespace
            - check_bash
            - check_frontend
            - test_go
            - build_backend
            - e2e
          filters:
            branches:
              only: master
            tags:
              only: /.*/
