<template id="expiration-picker-template">
  <style nonce="{{ .CspNonce }}">
    @import "/third-party/bulma@0.9.3/bulma.min.css";
    @import "/third-party/js-datepicker@5.18.0/datepicker.min.css";
  </style>
  <div class="control">
    <input
      id="expiration"
      class="input is-normal"
      type="text"
    />
  </div>
</div>
</template>

<script type="module" nonce="{{ .CspNonce }}">
  // Note: I don't know of a cleaner way of doing this. datepicker doesn't seem
  // to export values like a proper JS module, so we import the whole JS file,
  // which populates window.datepicker.
  import "/third-party/js-datepicker@5.18.0/js-datepicker.js";

  (function () {
    const template = document.querySelector("#expiration-picker-template");

    customElements.define(
      "expiration-picker",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this.elements = {
            expirationInput: this.shadowRoot.getElementById('expiration'),
          }
          console.log('expiration picker');


          let initialExpiration = null;
          if (this.getAttribute("value")) {
            initialExpiration = new Date(this.getAttribute("value"));
          } else {
            initialExpiration = this._defaultExpirationDate();
          }
          this.picker = window.datepicker(this.elements.expirationInput, {
            minDate: this._tomorrow(),
            dateSelected: initialExpiration,
            formatter: (input, date) => {
              input.value = date.toLocaleDateString();
            },
            respectDisabledReadOnly: true,
          });

          if (this.getAttribute("disabled") !== null) {
            this._disable();
          }
        }

        static get observedAttributes() {
          return ["value", "disabled"];
        }

        attributeChangedCallback(name, oldValue, newValue) {
          if (!this.elements) {
            return;
          }
          if (name === "disabled") {
            if (newValue === "true") {
              this._disable();
            } else {
              this._enable();
            }
          } else if (name === "value") {
            this.picker.dateSelected = new Date(newValue)
          }
        }

        get value() {
          if (
            this.elements.expirationInput.getAttribute("disabled") === "true"
            ) {
            return null;
          }
          return this.picker.dateSelected.toISOString();
        }

        set value(newValue) {
          this.picker.dateSelected = new Date(newValue);
        }

        _disable() {
          //this.elements.expirationInput.value = "";
          this.elements.expirationInput.setAttribute("disabled", true);
        }

        _enable() {
          this.elements.expirationInput.removeAttribute("disabled");
        }

        _tomorrow() {
          return this._dateInNDays(1);
        }

        _dateInNDays(n) {
          let d = new Date();
          d.setDate(d.getDate() + n);
          return d;
        }

        _defaultExpirationDate() {
          return this._dateInNDays(30);
        }
      }
    );
  })();
</script>
</template>
