<template id="upload-links-template">
  <style>
    .box-wrapper + .box-wrapper {
      margin-top: 1rem;
    }
  </style>
  <div class="box-wrapper">
    <upload-link-box id="verbose-link-box">
      <slot>Full Link</slot>
    </upload-link-box>
  </div>
  <div class="box-wrapper">
    <upload-link-box id="short-link-box">
      <slot>Shortlink</slot>
    </upload-link-box>
  </div>
</template>

<script type="module">
  import { makeShortLink, makeVerboseLink } from "/js/lib/links.js";

  (function () {
    const template = document.querySelector("#upload-links-template");

    customElements.define(
      "upload-links",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this.resetLinks();
        }

        get fileId() {
          return this.getAttribute("file-id");
        }

        set fileId(newValue) {
          this.setAttribute("file-id", newValue);
          this.resetLinks();
        }

        get filename() {
          return this.getAttribute("filename");
        }

        set filename(newValue) {
          this.setAttribute("filename", newValue);
          this.resetLinks();
        }

        resetLinks() {
          // Verify the element has been attached to the DOM.
          if (!this.shadowRoot) {
            return;
          }

          this.shadowRoot.getElementById("verbose-link-box").href =
            makeVerboseLink(this.fileId, this.filename);
          this.shadowRoot.getElementById("short-link-box").href =
            makeShortLink(this.fileId);
        }
      }
    );
  })();
</script>
</template>
