.deleted-entry {
  text-decoration: line-through;
  color: darkgray;
  visibility: collapse;
  opacity: 0;
}

.table tr {
  transition: all 1000ms ease-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  max-width: 400px;
  position: absolute;
  top: -9px;
  left: 150%;
  padding: 0.5rem 0.75rem;
  background-color: #f5faff;
  border: 1px solid #004e9c;
  color: black;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
}

.tooltip:before {
  opacity: 0;
  transition: 0.3s opacity;
}

.tooltip:hover:before {
  opacity: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#error {
  max-width: 60ch;
}
