.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  position: absolute;
  top: -9px;
  left: 150%;
  visibility: hidden;
  width: max-content;
  max-width: 400px;
  padding: 0.5rem 0.75rem;
  color: black;
  background-color: #f5faff;
  border: 1px solid #004e9c;
  border-radius: 6px;
  text-align: center;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#error {
  max-width: 60ch;
}
