.deleted-entry {
  text-decoration: line-through;
  color: darkgray;
  visibility: collapse;
  opacity: 0;
}

.table tr {
  transition: all 1000ms ease-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#error {
  max-width: 60ch;
}
