@import url("/third-party/google-fonts/css/fonts.css");

body {
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

p,
ul,
article,
form {
  max-width: 70ch;
}

.navbar .navbar-brand {
  font-size: 1.6em;
}

@media screen and (min-width: 1024px) {
  .navbar .navbar-brand {
    margin-left: 0 !important;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .navbar-brand .navbar-item {
    padding: 0;
  }
}

.navbar .nav-item {
  font-size: 1.3em;
}
