.file.accepting-drop .file-label,
.file.accepting-drop .file-cta {
  background: #dbf5ff;
}

#pastebox {
  font-size: 0.95em;
  padding: 1rem;
  text-align: center;
  caret-color: transparent;
}

.control {
  max-width: 70ch;
}
