:root {
  --heading-color: #363636;
  --navbar-bg: #f7f7f7;
  --navbar-brand-color: #555;
  --navbar-link-color: #666;
  --navbar-link-hover-color: #4b4b4b;
}

body {
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

.content {
  padding-bottom: 3rem;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-top: 3rem;

  p,
  ul,
  article,
  form {
    max-width: 70ch;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.125;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      margin-top: 1.1428em;
    }
  }

  p,
  ul {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
    padding-left: 0;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;
    }
  }

  li + li {
    margin-top: 0.25em;
  }
}

.navbar {
  background-color: var(--navbar-bg);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  .navbar-brand {
    font-size: 1.35rem;
    color: var(--navbar-brand-color);

    @media screen and (min-width: 768px) {
      margin-left: 0 !important;
      margin-right: 2rem;
    }
  }

  .nav-link {
    font-size: 1rem;
    color: var(--navbar-link-color);
  }

  .btn {
    font-size: 0.95rem;
    padding: 0.35rem 0.85rem;
  }

  .dropdown-item {
    color: var(--navbar-link-color);
  }

  .dropdown-toggle {
    color: var(--navbar-link-color);
  }

  .nav-link:hover,
  .dropdown-toggle:hover,
  .dropdown-item:hover {
    color: var(--navbar-link-hover-color);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-link,
  .dropdown-toggle {
    padding-left: 0.85rem;

    @media screen and (min-width: 768px) {
      padding-left: unset;
    }
  }
}

.navbar-brand {
  font-weight: 500;
}
