{{ define "navbar" }}
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">PicoShare</a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar-links"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar-links" class="navbar-menu">
        {{ if .IsAuthenticated }}
          <div class="navbar-start">
            <div class="navbar-item">
              <a class="button is-primary is-success" role="menuitem" href="/"
                >Upload</a
              >
            </div>
            <a class="navbar-item" role="menuitem" href="/files">Files</a>
            <a class="navbar-item" role="menuitem" href="/guest-links"
              >Guest Links</a
            >
          </div>
        {{ end }}
        <div class="navbar-end">
          {{ if .IsAuthenticated }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" role="menuitem">System</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" role="menuitem" href="/information"
                  >Information</a
                >
                <a class="navbar-item" role="menuitem" href="/settings"
                  >Settings</a
                >
                <a id="navbar-log-out" class="navbar-item" role="menuitem"
                  >Log Out</a
                >
              </div>
            </div>
          {{ else }}
            <div class="navbar-item">
              <a class="button is-primary" role="menuitem" href="/login">
                Log In
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
{{ end }}
