{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { authenticate, logOut } from "/js/controllers/auth.js";

    function setAuthFormState(isEnabled) {
      document.querySelectorAll("#auth-form input").forEach((el) => {
        el.disabled = !isEnabled;
      });
    }

    function disableAuthForm() {
      setAuthFormState(/* isEnabled= */ false);
    }

    function enableAuthForm() {
      setAuthFormState(/* isEnabled= */ true);
    }

    const errorContainer = document.getElementById("error");
    const authForm = document.getElementById("auth-form");
    authForm.addEventListener("submit", (evt) => {
      evt.preventDefault();
      const secret = document.getElementById("secret").value;
      errorContainer.classList.add("d-none");
      disableAuthForm();
      authenticate(secret)
        .then(() => {
          document.location = "/";
        })
        .catch((error) => {
          logOut();
          document.getElementById("error-message").innerText = error;
          errorContainer.classList.remove("d-none");
          enableAuthForm();
        });
    });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="h1">Log In</h1>

  <form id="auth-form" class="mb-2" action="/auth">
    <div class="mb-3">
      <label class="form-label">Passphrase</label>
      <div>
        <input
          class="form-control"
          id="secret"
          type="password"
          required
          autofocus
          placeholder="Passphrase"
        />
      </div>
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="Authenticate" />
    </div>
  </form>

  <div id="error" class="d-none">
    <div class="alert alert-danger" role="alert">
      <div id="error-message">Placeholder error.</div>
    </div>
  </div>

  <div class="mt-4">
    <h3>Don't know the password?</h3>
    <p>
      Visit our
      <a href="https://github.com/mtlynch/picoshare">GitHub repo</a> to create
      your own PicoShare server.
    </p>
  </div>
{{ end }}
