{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { formatRfc3339Local, parseRfc3339 } from "/js/lib/time.js";

    document.getElementById("close-btn").addEventListener("click", () => {
      history.back();
    });

    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".download-time").forEach((el) => {
        el.innerText = formatRfc3339Local(parseRfc3339(el.innerText));
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="title">Downloads</h1>

  {{ with .Metadata }}
    <h2>{{ .Filename }}</h2>
  {{ end }}

  {{ if gt (len .Downloads) 0 }}
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Download</th>
            <th>Time</th>
            <th>Downloader IP</th>
            <th>Browser</th>
            <th>Platform</th>
          </tr>
        </thead>
        <tbody>
          {{ range $i, $v := .Downloads }}
            <tr>
              <td>{{ formatDownloadIndex $i }}</td>
              {{ with $v }}
                <td class="download-time">{{ formatDownloadTime .Time }}</td>
                <td>{{ .ClientIP }}</td>
                <td>{{ .Browser }}</td>
                <td>{{ .Platform }}</td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  {{ else }}
    <p>No downloads yet.</p>
  {{ end }}


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link is-light" id="close-btn">Close</button>
    </div>
  </div>
{{ end }}
