{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .tooltip {
      position: relative;
      display: inline-block;

      & .tooltip-text {
        position: absolute;
        top: -9px;
        left: 150%;
        visibility: hidden;
        width: max-content;
        max-width: 400px;
        padding: 0.5rem 0.75rem;
        color: black;
        background-color: #f5faff;
        border: 1px solid #004e9c;
        border-radius: 6px;
        text-align: center;
        z-index: 1;
      }
    }

    .tooltip:hover .tooltip-text {
      visibility: visible;
    }

    #error {
      max-width: 60ch;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { copyToClipboard } from "/js/lib/clipboard.js";
    import { makeShortLink } from "/js/lib/links.js";

    const errorContainer = document.getElementById("error");

    document.querySelector("#error .delete").addEventListener("click", () => {
      hideElement(errorContainer);
    });

    document.querySelectorAll('[aria-label="Copy"]').forEach((copyBtn) => {
      copyBtn.addEventListener("click", () => {
        const fileId = copyBtn.getAttribute("pico-entry-id");
        const shortLink = makeShortLink(fileId);

        copyToClipboard(shortLink)
          .then(() =>
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Copied link")
          )
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          });
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="title">Files</h1>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Note</th>
          <th>Size</th>
          <th>Uploaded</th>
          <th>Expires</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{ range .Files }}
          <tr test-data-filename="{{ .Filename }}">
            <td class="is-vcentered">
              <a href="/-{{ .ID }}" target="_blank">{{ .Filename }}</a>
            </td>
            <td class="is-vcentered">
              {{ if .Note.Value }}
                <div class="tooltip">
                  <i class="fa-solid fa-note-sticky mx-auto"></i>
                  <span class="tooltip-text">{{ .Note }}</span>
                </div>
              {{ end }}
            </td>
            <td class="is-vcentered">{{ formatFileSize .Size }}</td>
            <td class="is-vcentered">{{ formatDate .Uploaded }}</td>
            <td class="is-vcentered">
              {{- formatExpiration .Expires -}}
            </td>
            <td class="is-vcentered">
              <div class="field is-grouped is-justify-content-flex-end">
                <p class="control">
                  <a
                    class="button is-link"
                    href="/files/{{ .ID }}/info"
                    role="button"
                    aria-label="Information"
                  >
                    <i class="fas fa-circle-info"></i>
                  </a>
                </p>
                <p class="control">
                  <a
                    class="button is-link"
                    href="/files/{{ .ID }}/edit"
                    role="button"
                    aria-label="Edit"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </p>
                <p class="control">
                  <button
                    class="button is-info"
                    aria-label="Copy"
                    pico-entry-id="{{ .ID }}"
                  >
                    <i class="fa-solid fa-copy"></i>
                  </button>
                </p>
              </div>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <div id="error" class="is-hidden my-3">
    <article class="message is-danger">
      <div class="message-header">
        Error
        <button class="delete" aria-label="delete"></button>
      </div>
      <div id="error-message" class="message-body">Placeholder error.</div>
    </article>
  </div>
{{ end }}
