{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .deleted-entry {
      text-decoration: line-through;
      color: darkgray;
      visibility: collapse;
      opacity: 0;
    }

    .table {
      & tr {
        transition: all 1000ms ease-out;

        /* Show aria-label in a tooltip over the button. */
        button[aria-label]:hover::after {
          content: attr(aria-label);
          position: absolute;
          background: #333;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 14px;
          margin-top: -5rem;
          white-space: nowrap;
        }

        button {
          position: relative;
        }
      }

      & .inactive {
        background-color: #d9d9d9;
      }

      & .inactive [aria-label="Copy"] {
        display: none;
      }
    }

    #error {
      max-width: 60ch;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import {
      guestLinkDelete,
      guestLinkEnable,
      guestLinkDisable,
    } from "/js/controllers/guestLinks.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { copyToClipboard } from "/js/lib/clipboard.js";

    const errorContainer = document.getElementById("error");

    function makeGuestLink(linkId) {
      return `${window.location.origin}/g/${linkId}`;
    }

    document.querySelectorAll('[aria-label="Delete"]').forEach((deleteBtn) => {
      deleteBtn.addEventListener("click", () => {
        const id = deleteBtn.getAttribute("pico-link-id");
        guestLinkDelete(id)
          .then(() => {
            let currentEl = deleteBtn.parentElement;
            while (currentEl && currentEl.nodeName !== "TR") {
              currentEl = currentEl.parentElement;
            }
            if (!currentEl) {
              return;
            }

            currentEl.classList.add("deleted-entry");
          })
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          });
      });
    });

    document
      .querySelector("#error .btn-close")
      .addEventListener("click", () => {
        hideElement(errorContainer);
      });

    document.querySelectorAll('[aria-label="Copy"]').forEach((copyBtn) => {
      copyBtn.addEventListener("click", () => {
        const linkId = copyBtn.getAttribute("pico-link-id");
        const guestLink = makeGuestLink(linkId);

        copyToClipboard(guestLink)
          .then(() =>
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Copied link")
          )
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          });
      });
    });

    // Switch the state of the guest link.
    document
      .querySelectorAll('[aria-label="Enable"], [aria-label="Disable"]')
      .forEach((toggleBtn) => {
        toggleBtn.addEventListener("click", () => {
          const currentState = toggleBtn.getAttribute("aria-label");
          const id = toggleBtn.getAttribute("pico-link-id");

          let apiCall = undefined;
          let snackBarMessage = undefined;
          let newAriaLabel = undefined;

          if (toggleBtn.getAttribute("aria-label") === "Enable") {
            apiCall = guestLinkEnable;
            snackBarMessage = "Guest link reactivated";
            newAriaLabel = "Disable";
          } else {
            apiCall = guestLinkDisable;
            snackBarMessage = "Guest link disabled";
            newAriaLabel = "Enable";
          }

          apiCall(id)
            .then(() => {
              toggleBtn.setAttribute("aria-label", newAriaLabel);

              // Toggle the guest link's row active state in the table.
              toggleBtn.closest("tr").classList.toggle("inactive");

              // Switch the button color and icon.
              toggleBtn.classList.toggle("btn-outline-success");
              toggleBtn.classList.toggle("btn-outline-warning");
              toggleBtn.querySelector("i").classList.toggle("fa-ban");
              toggleBtn.querySelector("i").classList.toggle("fa-square-check");

              document
                .querySelector("snackbar-notifications")
                .addInfoMessage(snackBarMessage);
            })
            .catch((error) => {
              document.getElementById("error-message").innerText = error;
              showElement(errorContainer);
            });
        });
      });
  </script>
{{ end }}

{{ define "label-formatted" }}
  {{ if .Label }}
    {{ .Label }}
  {{ else }}
    <i>unnamed</i>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h1 class="h1">Guest Links</h1>

  <div class="alert alert-primary" role="alert">
    <p>
      Guest links allow other users to upload files to this PicoShare server
      without signing in.
    </p>

    <p>
      Share a guest link with someone if you want an easy way for them to share
      a file with you.
    </p>
  </div>

  <a class="btn btn-primary" role="button" href="/guest-links/new"
    >Create new</a
  >

  <div class="table-responsive mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Created</th>
          <th>URL Expiration</th>
          <th>File Expiration</th>
          <th>Max Upload Size</th>
          <th>Uploads</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{ range .GuestLinks }}
          <tr {{ if not .IsActive }}class="inactive"{{ end }}>
            <td class="align-middle">
              {{ if .IsActive }}
                <a href="/g/{{ .ID }}">
                  {{ template "label-formatted" . }}
                </a>
              {{ else }}
                {{ template "label-formatted" . }}
              {{ end }}
            </td>
            <td class="align-middle">{{ formatDate .Created }}</td>
            <td class="align-middle expiration">
              {{ formatExpiration .UrlExpires }}
            </td>
            <td class="align-middle expiration">
              {{ .MaxFileLifetime.FriendlyName }}
            </td>
            <td class="align-middle">
              {{ formatSizeLimit .MaxFileBytes }}
            </td>
            <td class="align-middle">
              {{ .FilesUploaded }} /
              {{ formatCountLimit .MaxFileUploads }}
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-end gap-2">
                <button
                  class="btn btn-outline-primary btn-sm"
                  aria-label="Copy"
                  pico-link-id="{{ .ID }}"
                >
                  <i class="fa-solid fa-copy"></i>
                </button>
                {{ if .IsDisabled }}
                  <button
                    class="btn btn-outline-info btn-sm"
                    aria-label="Enable"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fa-solid fa-square-check" aria-hidden="true"></i>
                  </button>
                {{ else }}
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    aria-label="Disable"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fa-solid fa-ban" aria-hidden="true"></i>
                  </button>
                {{ end }}
                <button
                  class="btn btn-outline-danger btn-sm"
                  aria-label="Delete"
                  pico-link-id="{{ .ID }}"
                >
                  <i class="fa-solid fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <div id="error" class="d-none my-3">
    <div
      class="alert alert-danger d-flex justify-content-between align-items-start"
      role="alert"
    >
      <div>
        <strong>Error</strong>
        <div id="error-message" class="mt-1">Placeholder error.</div>
      </div>
      <button class="btn-close" type="button" aria-label="Close"></button>
    </div>
  </div>
{{ end }}
