{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { guestLinkNew } from "/js/controllers/guestLinks.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { enableElement, disableElement } from "/js/lib/html.js";

    const labelInput = document.getElementById("label");
    const expirationSelect = document.getElementById("expiration-select");
    const maxFileBytesInput = document.getElementById("max-file-size");
    const fileUploadLimitInput = document.getElementById("file-upload-limit");
    const createLinkForm = document.getElementById("create-guest-link-form");
    const createBtn = document.querySelector(
      "#create-guest-link-form .button[type='submit']"
    );
    const errorContainer = document.getElementById("error");
    const progressSpinner = document.getElementById("progress-spinner");

    function megabytesToBytes(megabytes) {
      return megabytes * 1024 * 1024;
    }

    function guestLinkFromInputs() {
      return {
        label: labelInput.value || null,
        expirationTime: expirationSelect.value,
        maxFileBytes: maxFileBytesInput.valueAsNumber
          ? megabytesToBytes(maxFileBytesInput.valueAsNumber)
          : null,
        maxFileUploads: fileUploadLimitInput.valueAsNumber
          ? fileUploadLimitInput.valueAsNumber
          : null,
      };
    }

    createLinkForm.addEventListener("submit", (evt) => {
      evt.preventDefault();

      disableElement(createBtn);
      showElement(progressSpinner);
      hideElement(errorContainer);

      const guestLink = guestLinkFromInputs();
      guestLinkNew(
        guestLink.label,
        guestLink.expirationTime,
        guestLink.maxFileBytes,
        guestLink.maxFileUploads
      )
        .then(() => {
          document.location = "/guest-links";
        })
        .catch((error) => {
          document.getElementById("error-message").innerText = error;
          showElement(errorContainer);
        })
        .finally(() => {
          hideElement(progressSpinner);
          enableElement(createBtn);
        });
    });

    document
      .querySelector("#error .delete")
      .addEventListener("click", (evt) => {
        hideElement(errorContainer);
      });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="title">Create Guest Link</h1>

  <form id="create-guest-link-form">
    <div class="field my-5">
      <label class="label">Label <i>(optional)</i></label>
      <div class="control">
        <input
          id="label"
          class="input is-normal"
          type="text"
          placeholder="For Joe at ExampleCo"
        />
      </div>
      <p class="help">Label is not visible to guests</p>
    </div>

    <div class="field my-5">
      <label class="label">Guest Link Expires</label>
      <div class="control">
        <div class="select">
          <select id="expiration-select">
            {{ range .ExpirationOptions }}
              <option
                value="{{ formatExpiration .Expiration }}"
                {{ if .IsDefault }}selected{{ end }}
              >
                {{ .FriendlyName }}
              </option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>

    <div class="field my-5">
      <label class="label">Max file size <i>(optional)</i></label>
      <div class="control">
        <div class="field has-addons my-3">
          <div class="control">
            <input
              id="max-file-size"
              class="input"
              type="number"
              min="1"
              placeholder="40"
            />
          </div>
          <p class="control">
            <a class="button is-static">MB</a>
          </p>
        </div>
      </div>
    </div>

    <div class="field my-5">
      <label class="label">Upload limit <i>(optional)</i></label>
      <div class="control">
        <div class="field has-addons my-3">
          <div class="control">
            <input
              id="file-upload-limit"
              class="input"
              type="number"
              min="1"
              placeholder="5"
            />
          </div>
          <p class="control">
            <a class="button is-static">file uploads</a>
          </p>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input type="submit" class="button is-primary" value="Create" />
      </div>
    </div>
  </form>

  <div class="fa-3x is-hidden" id="progress-spinner">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div id="error" class="is-hidden my-5">
    <article class="message is-danger">
      <div class="message-header">
        Error
        <button class="delete" aria-label="delete"></button>
      </div>
      <div id="error-message" class="message-body">Placeholder error.</div>
    </article>
  </div>
{{ end }}
