{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .deleted-entry {
      text-decoration: line-through;
      color: darkgray;
      visibility: collapse;
      opacity: 0;
    }

    .table {
      & tr {
        transition: all 1000ms ease-out;
      }

      & .inactive {
        background-color: #d9d9d9;
      }

      & .inactive [aria-label="Copy"] {
        display: none;
      }
    }

    #error {
      max-width: 60ch;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import {
      guestLinkDelete,
      guestLinkEnable,
      guestLinkDisable,
    } from "/js/controllers/guestLinks.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { copyToClipboard } from "/js/lib/clipboard.js";

    const errorContainer = document.getElementById("error");

    function makeGuestLink(linkId) {
      return `${window.location.origin}/g/${linkId}`;
    }

    document.querySelectorAll('[aria-label="Delete"]').forEach((deleteBtn) => {
      deleteBtn.addEventListener("click", () => {
        const id = deleteBtn.getAttribute("pico-link-id");
        guestLinkDelete(id)
          .then(() => {
            let currentEl = deleteBtn.parentElement;
            while (currentEl && currentEl.nodeName !== "TR") {
              currentEl = currentEl.parentElement;
            }
            if (!currentEl) {
              return;
            }

            currentEl.classList.add("deleted-entry");
          })
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          });
      });
    });

    document.querySelector("#error .delete").addEventListener("click", () => {
      hideElement(errorContainer);
    });

    document.querySelectorAll('[aria-label="Copy"]').forEach((copyBtn) => {
      copyBtn.addEventListener("click", () => {
        const linkId = copyBtn.getAttribute("pico-link-id");
        const guestLink = makeGuestLink(linkId);

        copyToClipboard(guestLink)
          .then(() =>
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Copied link")
          )
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          });
      });
    });

    document
      .querySelectorAll('[aria-label="Enable"], [aria-label="Disable"]')
      .forEach((toggleBtn) => {
        toggleBtn.addEventListener("click", () => {
          const id = toggleBtn.getAttribute("pico-link-id");
          // switch enable/disable
          if (toggleBtn.getAttribute("aria-label") === "Enable") {
            guestLinkEnable(id)
              .then(() => {
                const button = toggleBtn;
                button.classList.remove("is-danger");
                button.classList.add("is-success");
                button.setAttribute("aria-label", "Disable");
                button.innerHTML =
                  '<i class="fas fa-check-square" aria-hidden="true"></i>';
                document
                  .querySelector("snackbar-notifications")
                  .addInfoMessage("Successfully disabled the guest link.");
              })
              .catch((error) => {
                document.getElementById("error-message").innerText = error;
                showElement(errorContainer);
              });
          } else if (toggleBtn.getAttribute("aria-label") === "Disable") {
            guestLinkDisable(id)
              .then(() => {
                const button = toggleBtn;
                button.classList.remove("is-success");
                button.classList.add("is-danger");
                button.setAttribute("aria-label", "Enable");
                button.innerHTML =
                  '<i class="fas fa-ban" aria-hidden="true"></i>';
                document
                  .querySelector("snackbar-notifications")
                  .addInfoMessage("Guest link enabled successfully.");
              })
              .catch((error) => {
                document.getElementById("error-message").innerText = error;
                showElement(errorContainer);
              });
          }
        });
      });
  </script>
{{ end }}

{{ define "label-formatted" }}
  {{ if .Label }}
    {{ .Label }}
  {{ else }}
    <i>unnamed</i>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h1 class="title">Guest Links</h1>

  <article class="message is-link">
    <div class="message-body">
      <p>
        Guest links allow other users to upload files to this PicoShare server
        without signing in.
      </p>

      <p>
        Share a guest link with someone if you want an easy way for them to
        share a file with you.
      </p>
    </div>
  </article>

  <a class="button is-primary" role="button" href="/guest-links/new"
    >Create new</a
  >

  <div class="table-container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Created</th>
          <th>URL Expiration</th>
          <th>File Expiration</th>
          <th>Max Upload Size</th>
          <th>Uploads</th>
          <th class="has-text-right">Actions</th>
          <th>Enable/Disable</th>
        </tr>
      </thead>
      <tbody>
        {{ range .GuestLinks }}
          <tr {{ if not .IsActive }}class="inactive"{{ end }}>
            <td class="is-vcentered">
              {{ if .IsActive }}
                <a href="/g/{{ .ID }}">
                  {{ template "label-formatted" . }}
                </a>
              {{ else }}
                {{ template "label-formatted" . }}
              {{ end }}
            </td>
            <td class="is-vcentered">{{ formatDate .Created }}</td>
            <td class="is-vcentered expiration">
              {{ formatExpiration .UrlExpires }}
            </td>
            <td class="is-vcentered expiration">
              {{ .FileLifetime.FriendlyName }}
            </td>
            <td class="is-vcentered">
              {{ formatSizeLimit .MaxFileBytes }}
            </td>
            <td class="is-vcentered">
              {{ .FilesUploaded }} /
              {{ formatCountLimit .MaxFileUploads }}
            </td>
            <td class="is-vcentered">
              <div class="field is-grouped is-justify-content-flex-end">
                <p class="control">
                  <button
                    class="button is-info"
                    aria-label="Copy"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fa-solid fa-copy"></i>
                  </button>
                </p>
                <p class="control">
                  <button
                    class="button is-danger"
                    aria-label="Delete"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </p>
              </div>
            </td>
            <td class="is-vcentered">
              {{ if isDisabled . }}
                <p class="control">
                  <button
                    class="button is-danger"
                    aria-label="Enable"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fas fa-ban" aria-hidden="true"></i>
                  </button>
                </p>
              {{ else }}
                <p class="control">
                  <button
                    class="button is-success"
                    aria-label="Disable"
                    pico-link-id="{{ .ID }}"
                  >
                    <i class="fas fa-check-square" aria-hidden="true"></i>
                  </button>
                </p>
              {{ end }}
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <div id="error" class="is-hidden my-3">
    <article class="message is-danger">
      <div class="message-header">
        Error
        <button class="delete" aria-label="delete"></button>
      </div>
      <div id="error-message" class="message-body">Placeholder error.</div>
    </article>
  </div>
{{ end }}
