{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    #default-expiration {
      max-width: 9ch;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { settingsPut } from "/js/controllers/settings.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { enableElement, disableElement } from "/js/lib/html.js";

    const errorContainer = document.getElementById("error");
    const progressSpinner = document.getElementById("progress-spinner");
    const defaultExpiration = document.getElementById("default-expiration");
    const timeUnit = document.getElementById("time-unit");
    const storeForeverCheckbox = document.getElementById(
      "store-forever-checkbox"
    );
    const saveBtn = document.querySelector(
      "#settings-form button[type='submit']"
    );

    const daysPerYear = 365;

    function readDefaultFileExpiration() {
      let defaultExpirationDays = parseInt(defaultExpiration.value);
      if (timeUnit.value === "years") {
        defaultExpirationDays *= daysPerYear;
      }
      return defaultExpirationDays;
    }

    function readSettings() {
      if (storeForeverCheckbox.checked) {
        return {
          defaultNeverExpire: true,
        };
      }
      return {
        defaultExpirationDays: readDefaultFileExpiration(),
      };
    }

    defaultExpiration.addEventListener("input", () => {
      enableElement(saveBtn);
    });

    timeUnit.addEventListener("change", (evt) => {
      const maxExpirationInYears = 10;
      if (evt.target.value === "years") {
        defaultExpiration.setAttribute("max", maxExpirationInYears);
      } else {
        defaultExpiration.setAttribute(
          "max",
          daysPerYear * maxExpirationInYears
        );
      }
      enableElement(saveBtn);
    });

    storeForeverCheckbox.addEventListener("change", (evt) => {
      enableElement(saveBtn);
      const neverExpire = evt.target.checked;

      if (neverExpire) {
        disableElement(defaultExpiration);
        disableElement(timeUnit);
      } else {
        enableElement(defaultExpiration);
        enableElement(timeUnit);
      }
    });

    document
      .getElementById("settings-form")
      .addEventListener("submit", (evt) => {
        evt.preventDefault();

        hideElement(errorContainer);
        showElement(progressSpinner);
        disableElement(saveBtn);

        settingsPut(readSettings())
          .then(() => {
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Settings saved");
          })
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          })
          .finally(() => {
            hideElement(progressSpinner);
            enableElement(saveBtn);
          });
      });

    document
      .querySelector("#error .delete")
      .addEventListener("click", (evt) => {
        hideElement(errorContainer);
      });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="title">Settings</h1>

  <form id="settings-form">
    <div class="field my-5">
      <label class="label">Default File Expiration</label>

      <div class="field my-3">
        <label class="checkbox">
          <input
            type="checkbox"
            id="store-forever-checkbox"
            {{ if .DefaultNeverExpire }}checked{{ end }}
          />
          Store files forever
        </label>
      </div>
      <div class="is-flex is-flex-direction-row">
        <div class="control mr-1">
          <input
            id="default-expiration"
            class="input is-normal"
            type="number"
            required
            min="1"
            {{ if eq .ExpirationTimeUnit "days" }}
              max="3650"
            {{ else }}
              max="10"
            {{ end }}
            {{ if .DefaultNeverExpire }}disabled{{ end }}
            size="3"
            value="{{ .DefaultExpiration }}"
          />
        </div>
        <div class="select">
          <select id="time-unit" {{ if .DefaultNeverExpire }}disabled{{ end }}>
            <option
              value="days"
              {{ if eq .ExpirationTimeUnit "days" }}
                selected
              {{ end }}
            >
              Days
            </option>
            <option
              value="years"
              {{ if eq .ExpirationTimeUnit "years" }}selected{{ end }}
            >
              Years
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="control">
      <button class="button is-primary" disabled type="submit">
        <i class="fa fa-save mr-2"></i>
        Save
      </button>
    </div>
  </form>

  <div class="fa-3x is-hidden" id="progress-spinner">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div id="error" class="is-hidden my-3">
    <article class="message is-danger">
      <div class="message-header">
        Error
        <button class="delete" aria-label="delete"></button>
      </div>
      <div id="error-message" class="message-body">Placeholder error.</div>
    </article>
  </div>
{{ end }}
