{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    #default-expiration {
      max-width: 9ch;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { settingsPut } from "/js/controllers/settings.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { enableElement, disableElement } from "/js/lib/html.js";

    const errorContainer = document.getElementById("error");
    const progressSpinner = document.getElementById("progress-spinner");
    const defaultExpiration = document.getElementById("default-expiration");
    const timeUnit = document.getElementById("time-unit");
    const storeForeverCheckbox = document.getElementById(
      "store-forever-checkbox"
    );
    const saveBtn = document.querySelector(
      "#settings-form button[type='submit']"
    );

    const daysPerYear = 365;

    function readDefaultFileExpiration() {
      let defaultExpirationDays = parseInt(defaultExpiration.value);
      if (timeUnit.value === "years") {
        defaultExpirationDays *= daysPerYear;
      }
      return defaultExpirationDays;
    }

    function readSettings() {
      if (storeForeverCheckbox.checked) {
        return {
          defaultNeverExpire: true,
        };
      }
      return {
        defaultExpirationDays: readDefaultFileExpiration(),
      };
    }

    defaultExpiration.addEventListener("input", () => {
      enableElement(saveBtn);
    });

    timeUnit.addEventListener("change", (evt) => {
      const maxExpirationInYears = 10;
      if (evt.target.value === "years") {
        defaultExpiration.setAttribute("max", maxExpirationInYears);
      } else {
        defaultExpiration.setAttribute(
          "max",
          daysPerYear * maxExpirationInYears
        );
      }
      enableElement(saveBtn);
    });

    storeForeverCheckbox.addEventListener("change", (evt) => {
      enableElement(saveBtn);
      const neverExpire = evt.target.checked;

      if (neverExpire) {
        disableElement(defaultExpiration);
        disableElement(timeUnit);
      } else {
        enableElement(defaultExpiration);
        enableElement(timeUnit);
      }
    });

    document
      .getElementById("settings-form")
      .addEventListener("submit", (evt) => {
        evt.preventDefault();

        hideElement(errorContainer);
        showElement(progressSpinner);
        disableElement(saveBtn);

        settingsPut(readSettings())
          .then(() => {
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Settings saved");
          })
          .catch((error) => {
            document.getElementById("error-message").innerText = error;
            showElement(errorContainer);
          })
          .finally(() => {
            hideElement(progressSpinner);
            enableElement(saveBtn);
          });
      });

    document
      .querySelector("#error .btn-close")
      .addEventListener("click", () => {
        hideElement(errorContainer);
      });
  </script>
{{ end }}

{{ define "content" }}
  <h1 class="h1">Settings</h1>

  <form id="settings-form">
    <div class="mb-4">
      <label class="form-label">Default File Expiration</label>

      <div class="form-check my-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="store-forever-checkbox"
          {{ if .DefaultNeverExpire }}checked{{ end }}
        />
        <label class="form-check-label" for="store-forever-checkbox">
          Store files forever
        </label>
      </div>
      <div class="input-group">
        <input
          id="default-expiration"
          class="form-control"
          type="number"
          required
          min="1"
          {{ if eq .ExpirationTimeUnit "days" }}
            max="3650"
          {{ else }}
            max="10"
          {{ end }}
          {{ if .DefaultNeverExpire }}disabled{{ end }}
          size="3"
          value="{{ .DefaultExpiration }}"
        />
        <select
          id="time-unit"
          class="form-select"
          {{ if .DefaultNeverExpire }}disabled{{ end }}
        >
          <option
            value="days"
            {{ if eq .ExpirationTimeUnit "days" }}
              selected
            {{ end }}
          >
            Days
          </option>
          <option
            value="years"
            {{ if eq .ExpirationTimeUnit "years" }}selected{{ end }}
          >
            Years
          </option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" disabled type="submit">
        <i class="fa fa-save me-2"></i>
        Save
      </button>
    </div>
  </form>

  <div class="fa-3x d-none" id="progress-spinner">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div id="error" class="d-none my-3">
    <div
      class="alert alert-danger d-flex justify-content-between align-items-start"
      role="alert"
    >
      <div>
        <strong>Error</strong>
        <div id="error-message" class="mt-1">Placeholder error.</div>
      </div>
      <button class="btn-close" type="button" aria-label="Close"></button>
    </div>
  </div>
{{ end }}
