{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .progress {
      max-width: 70ch;
      width: 100%;
    }

    .notification {
      max-width: 70ch;
    }

    .code {
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
    }

  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { toggleShowElement, hideElement } from "/js/lib/bulma.js";

    const sizeDeltaNotification = document.querySelector(".notification");

    document
      .getElementById("file-size-information")
      .addEventListener("click", (evt) => {
        toggleShowElement(sizeDeltaNotification);
      });

    document.querySelectorAll(".notification .btn-close").forEach((el) => {
      el.addEventListener("click", (evt) => {
        const notificationEl = evt.target.closest(".notification");
        hideElement(notificationEl);
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  {{ $usagePercent := percentage .UsedBytes .TotalBytes }}
  <h1 class="h1">System Information</h1>

  <h2>Disk Usage</h2>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: {{ $usagePercent }};"
      aria-valuenow="{{ .UsedBytes }}"
      aria-valuemin="0"
      aria-valuemax="{{ .TotalBytes }}"
    >
      <span class="visually-hidden">
        {{ $usagePercent }}
      </span>
    </div>
  </div>

  <ul>
    <li>
      <strong>Server disk usage</strong>:
      {{ formatDiskUsage .UsedBytes }}
      ({{ $usagePercent }}) used of
      {{ formatDiskUsage .TotalBytes }} total
    </li>
    <li>
      <strong>PicoShare usage</strong>
      <ul>
        <li>
          <strong>Upload data</strong>:
          {{ formatDiskUsage .TotalServingBytes }}
        </li>
        <li>
          <strong>Database files</strong>:
          {{ formatDiskUsage .DatabaseFileBytes }}
          <a id="file-size-information" href="#"
            ><span class="text-info">
              <i class="fas fa-info-circle"></i> </span
          ></a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="notification alert alert-info d-none">
    <button class="btn-close" type="button" aria-label="Close"></button>
    <p>
      PicoShare's database files occupy more disk space than the sum total of
      PicoShare's file uploads.
    </p>
    <p>
      After files are deleted, PicoShare retains the space and reuses it to
      store future uploads. To manually shrink PicoShare's database files down
      to the total size of the upload data, see the
      <a
        href="https://github.com/mtlynch/picoshare?tab=readme-ov-file#reclaiming-reserved-database-space"
        >README</a
      >.
    </p>
  </div>

  <h2>PicoShare Version</h2>
  <ul>
    <li><strong>Version</strong>: {{ .Version }}</li>
    <li>
      <strong>Built at</strong>:
      {{ .BuildTime.Format "2006-01-02 15:04:05 -0700" }}
    </li>
  </ul>
{{ end }}
