{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .progress {
      max-width: 70ch;
    }

    .notification {
      max-width: 70ch;
    }

    .code {
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { toggleShowElement, hideElement } from "/js/lib/bulma.js";

    const sizeDeltaNotification = document.querySelector(".notification");

    document
      .getElementById("file-size-information")
      .addEventListener("click", (evt) => {
        toggleShowElement(sizeDeltaNotification);
      });

    document.querySelectorAll(".notification .delete").forEach((el) => {
      el.addEventListener("click", (evt) => {
        const notificationEl = evt.target.parentElement;
        hideElement(notificationEl);
      });
    });
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1 class="title">System Information</h1>

  <h2>Disk Usage</h2>
  <progress
    class="progress is-primary"
    max="{{ .TotalBytes }}"
    value="{{ .UsedBytes }}"
  >
    {{ percentage .UsedBytes .TotalBytes }}
  </progress>

  <ul>
    <li>
      <strong>Used space</strong>:
      {{ formatFileSize .UsedBytes }}
      ({{ percentage .UsedBytes .TotalBytes }})
      <ul>
        <li>
          <strong>Upload data</strong>:
          {{ formatFileSize .TotalServingBytes }}
          ({{ percentage .TotalServingBytes .UsedBytes }})
        </li>
        <li>
          <strong>PicoShare files</strong>:
          {{ formatFileSize .DatabaseFileBytes }}
          ({{ percentage .DatabaseFileBytes .UsedBytes }})
          <a id="file-size-information" href="#"
            ><span class="icon has-text-info">
              <i class="fas fa-info-circle"></i> </span
          ></a>
        </li>
      </ul>
    </li>

    <li><strong>Total disk space</strong>: {{ formatFileSize .TotalBytes }}</li>
  </ul>

  <div class="notification is-info is-light is-hidden">
    <button class="delete"></button>
    <p>
      PicoShare files occupy more space than the sum total of the files it
      serves.
    </p>
    <p>
      When you delete files, PicoShare retains the space and reuses it to store
      future uploads. To manually reclaim reserved disk space, see the
      <a
        href="https://github.com/mtlynch/picoshare?tab=readme-ov-file#reclaiming-reserved-database-space"
        >README</a
      >.
    </p>
  </div>

  <h2>PicoShare Version</h2>
  <ul>
    <li><strong>Version</strong>: {{ .Version }}</li>
    <li>
      <strong>Built at</strong>:
      {{ .BuildTime.Format "2006-01-02 15:04:05 UTC" }}
    </li>
  </ul>
{{ end }}

{{ template "base.html" }}
