{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    .file {
      border: 1px dashed #ced4da;
      border-radius: 0.5rem;
      background: #f8f9fa;
      padding: 1.5rem;
      text-align: center;
      cursor: pointer;
    }

    .file.accepting-drop {
      background: #dbf5ff;
    }

    .file-label {
      display: block;
      cursor: pointer;
    }

    .file-input {
      display: none;
    }

    .file-cta {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
    }

    .file-icon {
      display: inline-flex;
    }

    #pastebox {
      font-size: 0.95em;
      padding: 1rem;
      text-align: center;
      caret-color: transparent;
    }

    .field-max-width {
      max-width: 500px;
      width: 100%;
    }

    .upload-progress-bar {
      appearance: none;
      display: block;
      width: 100%;
      height: 0.75rem;
      border-radius: var(--bs-border-radius-pill);
      background-color: var(--bs-gray-200);
      overflow: hidden;
    }

    .upload-progress-bar::-webkit-progress-bar {
      background-color: var(--bs-gray-200);
      border-radius: var(--bs-border-radius-pill);
    }

    .upload-progress-bar::-webkit-progress-value {
      background-color: var(--bs-primary);
      border-radius: var(--bs-border-radius-pill);
    }

    .upload-progress-bar::-moz-progress-bar {
      background-color: var(--bs-primary);
      border-radius: var(--bs-border-radius-pill);
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { guestUploadFile, uploadFile } from "/js/controllers/files.js";
    import { showElement, hideElement } from "/js/lib/bulma.js";
    import { sortClipboardItems } from "/js/lib/clipboard.js";

    const uploadEl = document.querySelector(".file");
    const resultEl = document.getElementById("upload-result");
    const pasteEl = document.getElementById("pastebox");
    const errorContainer = document.getElementById("error");
    const progressBar = document.getElementById("upload-progress");
    const progressBarFill = document.getElementById("upload-progress-bar");
    const progressSpinner = document.getElementById("progress-spinner");
    const uploadForm = document.getElementById("upload-form");
    const expirationContainer = document.querySelector(".expiration-container");
    const expirationSelect = document.getElementById("expiration-select");
    const expirationPicker = document.getElementById("expiration-picker");
    const noteInput = document.getElementById("note");
    const uploadAnotherBtn = document.getElementById("upload-another-btn");

    function getGuestLinkMetdata() {
      const el = document.getElementById("guest-link-metadata");
      if (!el) {
        return null;
      }
      return JSON.parse(el.innerHTML);
    }

    function isCustomExpirationSelected() {
      return expirationPicker && expirationSelect.value === "";
    }

    function readExpiration() {
      if (isCustomExpirationSelected()) {
        return expirationPicker.value;
      } else {
        return expirationSelect.value;
      }
    }

    function readNote() {
      return noteInput.value || null;
    }

    function populateEditButton(entryId) {
      const btn = document.getElementById("edit-btn");
      // Button does not appear in guest mode.
      if (!btn) {
        return;
      }

      btn.href = `/files/${entryId}/edit`;
    }

    function updateProgress(bytesUploaded, bytesTotal) {
      const percentageValue =
        bytesTotal === 0 ? 0 : Math.round((bytesUploaded / bytesTotal) * 100);
      const percentage = `${percentageValue}%`;
      progressBarFill.value = percentageValue;
      progressBarFill.setAttribute("aria-valuenow", percentageValue);
      progressBarFill.textContent = percentage;
      document.title = "PicoShare ↑ " + percentage;
      if (bytesUploaded === bytesTotal) {
        document.title = "PicoShare - Complete";
        showElement(progressSpinner);
      }
    }

    function doUpload(file) {
      const guestLinkMetadata = getGuestLinkMetdata();

      if (
        guestLinkMetadata &&
        guestLinkMetadata.maxFileBytes &&
        file.size > guestLinkMetadata.maxFileBytes
      ) {
        const friendlySize = `${guestLinkMetadata.maxFileBytes} bytes`;
        document.getElementById(
          "error-message"
        ).innerText = `File is too large. Maximum upload size is ${friendlySize}.`;
        showElement(errorContainer);
        return;
      }
      hideElement(errorContainer);
      hideElement(uploadForm);
      showElement(progressBar);

      let uploader = () => {
        return uploadFile(file, readExpiration(), readNote(), updateProgress);
      };
      if (guestLinkMetadata) {
        uploader = () => {
          return guestUploadFile(
            file,
            guestLinkMetadata.id,
            readExpiration(),
            updateProgress
          );
        };
      }
      uploader()
        .then((res) => {
          const entryId = res.id;

          populateEditButton(entryId);

          const uploadLinksEl = document.createElement("upload-links");
          uploadLinksEl.fileId = entryId;
          uploadLinksEl.filename = file.name;
          uploadLinksEl.addEventListener("link-copied", () => {
            document
              .querySelector("snackbar-notifications")
              .addInfoMessage("Copied link");
          });
          document.getElementById("result-links").append(uploadLinksEl);
          showElement(resultEl);
          showElement(uploadAnotherBtn);

          uploadEl.style.display = "none";
          if (expirationContainer) {
            expirationContainer.style.display = "none";
          }
        })
        .catch((error) => {
          document.getElementById("error-message").innerText = error;
          showElement(errorContainer);
          showElement(uploadForm);
        })
        .finally(() => {
          hideElement(progressBar);
          hideElement(progressSpinner);
        });
    }

    function resetPasteInstructions() {
      pasteEl.value = "Or paste something here";
    }

    document.querySelector(".file-input").addEventListener("change", (evt) => {
      doUpload(evt.target.files[0]);
    });

    uploadForm.addEventListener("drop", (evt) => {
      evt.preventDefault();

      uploadForm.classList.remove("accepting-drop");

      if (!evt.dataTransfer.items) {
        return;
      }
      for (var i = 0; i < evt.dataTransfer.items.length; i++) {
        if (evt.dataTransfer.items[i].kind === "file") {
          var file = evt.dataTransfer.items[i].getAsFile();
          doUpload(file);
          return;
        }
      }
    });

    uploadEl.addEventListener("dragover", (evt) => {
      evt.preventDefault();

      uploadEl.classList.add("accepting-drop");
    });

    uploadEl.addEventListener("dragenter", (evt) => {
      evt.preventDefault();

      uploadEl.classList.add("accepting-drop");
    });

    uploadEl.addEventListener("dragleave", () => {
      uploadEl.classList.remove("accepting-drop");
    });

    pasteEl.addEventListener("paste", (evt) => {
      const timestamp = new Date().toISOString().replaceAll(":", "");
      for (const item of sortClipboardItems(
        Array.from(evt.clipboardData.items)
      )) {
        if (item.kind === "string") {
          item.getAsString((s) => {
            doUpload(
              new File([new Blob([s])], `pasted-${timestamp}.txt`, {
                type: "text/plain;charset=UTF-8",
              })
            );
          });
          return;
        }
        let pastedFile = item.getAsFile();
        if (!pastedFile) {
          continue;
        }

        // Pasted images are named image.png by default, so make a better filename.
        if (pastedFile.name === "image.png") {
          pastedFile = new File([pastedFile], `pasted-${timestamp}.png`, {
            type: pastedFile.type,
          });
        }

        doUpload(pastedFile);
        return;
      }
    });

    pasteEl.addEventListener("change", (evt) => {
      evt.preventDefault();
      resetPasteInstructions();
    });

    pasteEl.addEventListener("input", (evt) => {
      evt.preventDefault();
      resetPasteInstructions();
    });

    if (expirationSelect) {
      expirationSelect.addEventListener("change", () => {
        if (isCustomExpirationSelected()) {
          showElement(expirationPicker);
        } else {
          hideElement(expirationPicker);
        }
      });
    }

    uploadAnotherBtn.addEventListener("click", () => {
      window.location.reload();
    });

    document.addEventListener("DOMContentLoaded", function () {
      resetPasteInstructions();
      // Set initial focus to paste element so that if the user pastes on page load,
      // it pastes to the right place without them having to manually place the
      // cursor in the right place.
      pasteEl.focus();
    });
  </script>
  {{ if .GuestLinkMetadata.ID }}
    <script type="application/json" id="guest-link-metadata">
      {
        "id": "{{ .GuestLinkMetadata.ID }}",
        "maxFileBytes": {{ .GuestLinkMetadata.MaxFileBytes }}
      }
    </script>
  {{ end }}
{{ end }}

{{ define "custom-elements" }}
  {{ template "expiration-picker.html" . }}
  {{ template "upload-link-box.html" . }}
  {{ template "upload-links.html" . }}
{{ end }}

{{ define "content" }}
  <h1 class="h1">Upload</h1>

  <div id="upload-form">
    <div class="file field-max-width">
      <label class="file-label">
        <input class="file-input" type="file" />
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid fa-upload"></i>
          </span>
          <span class="file-label"> Choose a file… </span>
        </span>
      </label>
    </div>

    <textarea
      id="pastebox"
      class="form-control mt-4 field-max-width"
    ></textarea>

    {{ if gt (len .ExpirationOptions) 0 }}
      <div class="mb-4 mt-5 expiration-container field-max-width">
        <label class="form-label">Expiration</label>
        <select id="expiration-select" class="form-select" autocomplete="off">
          {{ range .ExpirationOptions }}
            <option
              value="{{ formatExpiration .Expiration }}"
              {{ if .IsDefault }}selected{{ end }}
            >
              {{- .FriendlyName -}}
            </option>
          {{ end }}
        </select>

        <expiration-picker id="expiration-picker" class="d-none mt-3 d-block" />
      </div>
    {{ end }}

    {{ if not .GuestLinkMetadata.ID }}
      <div class="mb-4 field-max-width">
        <label class="form-label">Note <i>(optional)</i></label>
        <input
          id="note"
          class="form-control"
          type="text"
          placeholder="For Joe at ExampleCo"
          maxlength="{{ .MaxNoteLength }}"
        />
        <p class="form-text">Note is only visible to you</p>
      </div>
    {{ end }}
  </div>

  <div id="upload-progress" class="d-none mt-3">
    <progress
      id="upload-progress-bar"
      class="upload-progress-bar rounded-pill"
      value="0"
      max="100"
      aria-label="Upload progress"
      aria-valuenow="0"
    >
      0%
    </progress>
  </div>

  <div id="progress-spinner" class="d-none">
    <div class="alert alert-primary" role="alert">
      File uploaded! Processing...
    </div>

    <div class="fa-3x">
      <i class="fa-solid fa-spinner fa-spin"></i>
    </div>
  </div>

  <div id="upload-result" class="d-none">
    <div class="alert alert-primary" role="alert">
      <div class="message-body">Upload complete!</div>
    </div>

    <div id="result-links"></div>

    <div class="d-flex flex-wrap gap-2 my-4">
      {{ if not .GuestLinkMetadata.ID }}
        <a id="edit-btn" class="btn btn-outline-primary">Edit</a>
      {{ end }}
      <button id="upload-another-btn" class="btn btn-success">
        Upload Another
      </button>
    </div>
  </div>

  <div id="error" class="d-none my-3">
    <div class="alert alert-danger" role="alert">
      <div id="error-message">Placeholder error.</div>
    </div>
  </div>
{{ end }}
