<template id="upload-link-box-template">
  <style nonce="{{ .CspNonce }}">
    @import "/third-party/bulma@0.9.3/bulma.min.css";
    @import "/third-party/fontawesome6/css/all.min.css";

    .light-font {
      color: #696969;
    }

    .box button {
      height: 1.5em;
    }

    .box button,
    .box button span {
      font-size: 7pt;
    }
  </style>
  <div class="box">
    <div class="is-flex is-align-items-center">
      <p><a id="link"></a></p>
      <button id="copy-btn" class="button is-small is-info ml-2">
        <span class="icon is-small">
          <i class="fa-solid fa-copy"></i>
        </span>
      </button>
    </div>
    <p class="light-font mt-3">
      <slot></slot>
    </p>
  </div>
</template>

<script type="module" nonce="{{ .CspNonce }}">
  import { copyToClipboard } from "/js/lib/clipboard.js";

  (function () {
    const template = document.querySelector("#upload-link-box-template");

    customElements.define(
      "upload-link-box",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this.href = this.getAttribute("href");
          this.shadowRoot
            .getElementById("copy-btn")
            .addEventListener("click", () => {
              copyToClipboard(this.href).then(() => {
                this.emitLinkCopied();
              });
            });
        }

        attributeChangedCallback(name, oldValue, newValue) {
          if (name === "href" && newValue !== oldValue) {
            this.href = newValue;
          }
        }

        get href() {
          return this.getAttribute("href");
        }

        set href(newValue) {
          this.setAttribute("href", newValue);
          const linkEl = this.shadowRoot.getElementById("link");
          linkEl.innerText = newValue;
          linkEl.href = newValue;
        }

        emitLinkCopied() {
          this.dispatchEvent(
            new CustomEvent("link-copied", {
              bubbles: true,
              composed: true,
            })
          );
        }
      }
    );
  })();
</script>
