{{ define "style-tags" }}
  <style>
    .filename {
      font-family: "Courier New", Courier, monospace;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module">
    import { deleteFile } from "/js/controllers/files.js";

    const deleteForm = document.getElementById("delete-form");
    const errorContainer = document.getElementById("error");
    const progressSpinner = document.getElementById("progress-spinner");

    function hideElement(el) {
      el.classList.add("is-hidden");
    }

    function showElement(el) {
      el.classList.remove("is-hidden");
    }

    document.getElementById("delete-btn").addEventListener("click", (evt) => {
      evt.preventDefault();
      const id = evt.target.getAttribute("data-entry-id");
      if (!id) {
        return;
      }
      hideElement(errorContainer);
      hideElement(deleteForm);
      showElement(progressSpinner);

      deleteFile(id)
        .then(() => {
          document.location = "/files";
        })
        .catch((error) => {
          document.getElementById("error-message").innerText = error;
          showElement(errorContainer);
          showElement(deleteForm);
        })
        .finally(() => {
          hideElement(progressSpinner);
        });
    });
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1 class="title">Delete File</h1>

  {{ with .Metadata }}

    <form id="delete-form">
      <p>Permanently delete <span class="filename">{{ .Filename }}</span>?</p>

      <div class="field is-grouped is-flex is-justify-content-flex-end my-5">
        <div class="control">
          <a
            class="button is-link is-light"
            href="/files/{{ .ID }}/edit"
            pico-purpose="edit"
          >
            Cancel
          </a>
        </div>
        <div class="control">
          <button
            class="button is-danger"
            id="delete-btn"
            data-entry-id="{{ .ID }}"
          >
            <i class="fa fa-trash mr-2"></i>
            Delete
          </button>
        </div>
      </div>
    </form>

    <div class="fa-3x is-hidden" id="progress-spinner">
      <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div id="error" class="is-hidden my-3">
      <article class="message is-danger">
        <div id="error-message" class="message-body">Placeholder error.</div>
      </article>
    </div>
  {{ end }}
{{ end }}

{{ template "base.html" }}
