{{ define "style-tags" }}
<link rel="stylesheet" type="text/css" href="/css/file-index.css" />
{{ end }}

{{ define "script-tags" }}
<script type="module" src="/js/fileIndex.js"></script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
<h1 class="title">Files</h1>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Uploaded</th>
        <th>Expires</th>
        <th>Shortlink</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Files }}
      <tr>
        <td class="is-vcentered" test-data-id="filename"><a href="/!{{ .ID }}">{{ .Filename }}</a></td>
        <td class="is-vcentered">{{ .Size }}</td>
        <td class="is-vcentered">{{ formatTime .Uploaded }}</td>
        <td class="is-vcentered">{{ formatExpiration .Expires }}</td>
        <td class="is-vcentered">
          <div class="field has-addons" pico-shortlink pico-entry-id="{{ .ID }}">
            <div class="control">
              <input class="input is-normal" type="text" value="{{ formatShortlink .ID }}" readonly>
            </div>
            <div class="control">
              <button class="button is-info">
                <i class="fa-solid fa-copy"></i>
              </button>
            </div>
          </div>
        </td>
        <td class="is-vcentered">
          <button class="button is-danger" pico-purpose="delete" pico-entry-id="{{ .ID }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ template "base.html" }}
