{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
  <script type="module" src="/js/fileEdit.js"></script>
{{ end }}

{{ define "custom-elements" }}
  {{ template "expiration-picker.html" . }}
{{ end }}

{{ define "content" }}
  <h1 class="title">Edit File</h1>

  {{ with .Metadata }}
    <form id="edit-form" data-entry-id="{{ .ID }}">
      <div class="field my-5">
        <label class="label">Filename</label>
        <div class="control">
          <input
            id="filename"
            class="input is-normal"
            type="text"
            value="{{ .Filename }}"
            required
          />
        </div>
      </div>

      <div class="field my-5">
        <label class="label">Expiration</label>

        <label class="checkbox">
          <input
            type="checkbox"
            id="expire-checkbox"
            {{ if not (isNeverExpire .Expires) }}checked{{ end }}
          />
          Delete after expiration
        </label>
        <expiration-picker
          id="expiration"
          {{ if not (isNeverExpire .Expires) }}
            expiration="{{ formatExpiration .Expires }}"
          {{ else }}
            disabled
          {{ end }}
        />
      </div>

      <div class="field my-5">
        <label class="label">Note</label>
        <div class="control">
          <input
            id="note"
            class="input is-normal"
            type="text"
            {{ if .Note.Value }}
              value="{{ .Note }}"
            {{ end }}
          />
          <p class="help">Note is only visible to you</p>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control mr-auto">
          <a
            class="button is-danger is-justify-item-flex-start"
            href="/files/{{ .ID }}/confirm-delete"
            pico-purpose="delete"
          >
            <i class="fa fa-trash mr-2"></i>
            Delete
          </a>
        </div>
        <div class="control">
          <a
            href="/files"
            class="button is-link is-light"
            pico-purpose="cancel"
          >
            Cancel
          </a>
        </div>
        <div class="control">
          <button class="button is-primary" id="save-btn">
            <i class="fa fa-save mr-2"></i>
            Save
          </button>
        </div>
      </div>
    </form>

    <div class="fa-3x is-hidden" id="progress-spinner">
      <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div id="error" class="is-hidden my-3">
      <article class="message is-danger">
        <div id="error-message" class="message-body">Placeholder error.</div>
      </article>
    </div>
  {{ end }}
{{ end }}

{{ template "base.html" }}
