{{ define "style-tags" }}
  <link rel="stylesheet" type="text/css" href="/css/upload.css" />
{{ end }}

{{ define "script-tags" }}
  <script type="module" src="/js/upload.js"></script>
  {{ if .GuestLinkMetadata.ID }}
    <script type="application/json" id="guest-link-metadata">
      {
        "id": "{{ .GuestLinkMetadata.ID }}",
        "maxFileBytes": {{ .GuestLinkMetadata.MaxFileBytes }}
      }
    </script>
  {{ end }}
{{ end }}

{{ define "custom-elements" }}
  {{ template "expiration-picker.html" . }}
  {{ template "upload-link-box.html" . }}
  {{ template "upload-links.html" . }}
{{ end }}

{{ define "content" }}
  <h1 class="title">Upload</h1>

  <div id="upload-form">
    <div class="file is-boxed">
      <label class="file-label">
        <input class="file-input" type="file" />
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Choose a file… </span>
        </span>
      </label>
    </div>

    <textarea id="pastebox" class="mt-5"></textarea>

    {{ if gt (len .ExpirationOptions) 0 }}
      <div class="field my-5 expiration-container">
        <label class="label">Expiration</label>
        <div class="control">
          <div class="select">
            <select id="expiration-select">
              {{ range .ExpirationOptions }}
                <option
                  value="{{ formatExpiration .Expiration }}"
                  {{ if .IsDefault }}selected{{ end }}
                >
                  {{- .FriendlyName -}}
                </option>
              {{ end }}
            </select>
          </div>
        </div>

        <expiration-picker
          id="expiration-picker"
          class="control is-hidden mt-3 is-block"
        />
      </div>
    {{ end }}

    {{ if not .GuestLinkMetadata.ID }}
      <div class="field my-5">
        <label class="label">Note <i>(optional)</i></label>
        <div class="control">
          <input
            id="note"
            class="input is-normal"
            type="text"
            placeholder="For Joe at ExampleCo"
            maxlength="{{ .MaxNoteLength }}"
          />
        </div>
        <p class="help">Note is only visible to you</p>
      </div>
    {{ end }}
  </div>

  <progress
    id="upload-progress"
    class="progress is-primary is-hidden"
    max="100"
    value="0"
  >
    0%
  </progress>

  <div id="progress-spinner" class="is-hidden">
    <article class="message is-primary">
      <div class="message-body">File uploaded! Processing...</div>
    </article>

    <div class="fa-3x">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>

  <div id="upload-result" class="is-hidden">
    <article class="message is-primary">
      <div class="message-body">Upload complete!</div>
    </article>

    <div id="result-links"></div>

    <div class="field is-grouped my-6">
      {{ if not .GuestLinkMetadata.ID }}
        <div class="control">
          <a id="edit-btn" class="button is-link is-light">Edit</a>
        </div>
      {{ end }}
      <div class="control">
        <button id="upload-another-btn" class="button is-success">
          Upload Another
        </button>
      </div>
    </div>
  </div>

  <div id="error" class="is-hidden my-3">
    <article class="message is-danger">
      <div id="error-message" class="message-body">Placeholder error.</div>
    </article>
  </div>
{{ end }}

{{ template "base.html" }}
