{{define "style-tags"}}
{{end}}

{{define "script-tags"}}
<script type="module" src="/js/upload.js"></script>
{{end}}

{{define "content"}}
<h1 class="title">Upload</h1>

<div class="file has-name is-boxed">
  <label class="file-label">
    <input class="file-input" type="file" name="resume">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    <span class="file-name">
      IMG_1234.png
    </span>
  </label>
</div>

<div id="upload-result"></div>
{{end}}

{{template "base.html"}}
